<?php

// Allgemeine Konfigurationsparameter für die Datenbank
$host = 'localhost';
$dbName = 'DEIN_DATENBANKNAME';
$dbUser = 'root';
$dbPw = '';
$pepper = 'HIER_EINEN_RANDOM_STRING_ANGEBEN';

// Verbindung zur Datenbank herstellen, ansonsten das komplette Programm abbrechen
$db = new mysqli($host, $dbUser, $dbPw, $dbName);

if (mysqli_connect_error()) {
  die('<p class="alert alert-danger">Es konnte keine Verbindung mit dem Datenbankserver hergestellt werden.</p>');
}
