<?php

// Allgemeine Konfigurationsparameter für die Datenbank
$host = 'localhost';
$dbName = 'DEIN_DATENBANKNAME';
$dbUser = 'root';
$dbPw = '';

// Verbindung zur Datenbank herstellen, ansonsten das komplette Programm abbrechen
$db = mysqli_connect($host, $dbUser, $dbPw, $dbName) or
die('<p class="alert alert-danger">Es konnte keine Verbindung mit dem Datenbankserver hergestellt werden.</p>');