<!DOCTYPE html>
<html lang="de">
<head>
	<!-- Das ist das Grundgerüst für alle Seiten -->

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Stylesheet -->
	{% block assetCSS %}
		<link rel="stylesheet" href="../css/bootstrap.css">
	{% endblock %}

	<title>{% block title %}{% endblock %} - SIN Labor 7</title>
	{% block assetJSheader %}
		<script src="js/main.js"></script>
	{% endblock %}

</head>

<body>

{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-main">
		<div class="container">
			<a class="navbar-brand" href="index.php">TOTP</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Navigation umschalten">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMain">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="register.php">Registrierung</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="login.php">Anmeldung</a>
					</li>
				</ul>
				<span id="otp-placeholder" class="navbar-text">000000 | ?</span>
			</div>
		</div>
	</nav>
{% endblock %}

{% block contentWrapper %}
	{% block content %}{% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>

</html>