{# in das Basis-Template/Grundgerüst einfügen #}
{% extends "_boxed-content.html.twig" %}

{% block title %}Startseite{% endblock %}

{% block content %}
	<h1>Willkommen</h1>
	<p>Was darf es sein?</p>
	<ul>
		<li><a href="register.php">Registrierung</a></li>
		<li><a href="login.php">Anmeldung</a></li>
	</ul>
{% endblock %}