{# in das Basis-Template/Grundger체st einf체gen #}
{% extends "_boxed-content.html.twig" %}

{% block title %}Anmeldung{% endblock %}

{% block content %}
	<h1>Im Konto anmelden</h1>
    <form class="row g-3" id="form-login" method="post">
        <div class="col-md-6">
			<div class="mb-3">
				<label for="user_email" class="form-label">E-Mail</label>
				<input type="email" class="form-control" id="user_email" name="email" value="julian.wittorf@student.fh-kiel.de" {% if login %}readonly{% endif %}>
			</div>
			<div class="mb-3">
				<label for="user_password" class="form-label">Passwort</label>
				<input type="password" class="form-control" id="user_password" name="password" value="passw0rd123" {% if login %}readonly{% endif %}>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary" {% if login %}disabled{% endif %}>Abschicken</button>
			</div>
			<div id="response-login-wrapper">
				{% if login and not verified %}
					<p class='alert alert-success'>Anmeldung erfolgreich!</p>
				{% elseif error %}
					<p class='alert alert-danger'>SQL Fehler!<br>
						<code>
							{{ error }}
						</code>
					</p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			{% if login %}
				<div class="mb-3">
					<label for="user_otp" class="form-label">OTP aus Authenticator</label>
					<input type="number" class="form-control" id="user_otp" name="otp" value="" {% if verified %}readonly{% endif %} placeholder="{{ otp }}">
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-success btn-lg" {% if verified %}disabled{% endif %}>Best채tigen</button>
				</div>
				<div id="response-verify-wrapper">
					{% if verified %}
						<p class='alert alert-success'>Best채tigung erfolgreich!</p>
					{% else %}
						<p class='alert alert-info'>Bitte den passenden Code eingeben.</p>
					{% endif %}
				</div>
			{% endif %}
		</div>
    </form>
{% endblock %}