{# in das Basis-Template/Grundgerüst einfügen #}
{% extends "_boxed-content.html.twig" %}

{% block title %}Registrierung{% endblock %}

{% block content %}
	<h1>Konto erstellen</h1>
	<form class="row g-3">
		<div class="col-md-6">
			<div class="mb-3">
				<label for="user_email" class="form-label">E-Mail</label>
				<input type="email" class="form-control" id="user_email">
			</div>
			<div class="mb-3">
				<label for="user_password" class="form-label">Passwort</label>
				<input type="password" class="form-control" id="user_password">
			</div>
			<button type="submit" class="btn btn-primary">Abschicken</button>
		</div>
		<div class="col-md-6">
			<span class="form-label">Code für Authenticator-App</span><br>
			<img src="{{ qrCodePath }}" alt="QR Code zum Scannen">
		</div>
	</form>

{% endblock %}