{# in das Basis-Template/Grundgerüst einfügen #}
{% extends "_boxed-content.html.twig" %}

{% block title %}Registrierung{% endblock %}

{% block content %}
	<h1>Konto erstellen</h1>
	<form class="row g-3" id="form-register" method="post">
		<div class="col-md-6">
            <div class="mb-3">
                <label for="user_firstname" class="form-label">Vorname</label>
                <input type="text" class="form-control" id="user_firstname" name="firstname" value="Julian">
            </div>
            <div class="mb-3">
				<label for="user_email" class="form-label">E-Mail</label>
				<input type="email" class="form-control" id="user_email" name="email" value="julian.wittorf@student.fh-kiel.de">
			</div>
			<div class="mb-3">
				<label for="user_password" class="form-label">Passwort</label>
				<input type="password" class="form-control" id="user_password" name="password" value="passw0rd123">
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary">Abschicken</button>
			</div>
			<div id="response-register-wrapper">
				{% if resultInsert %}
					<h3>Registrierung erfolgreich</h3>
					<p class='alert alert-success'>Bitte jetzt den QR-Code scannen.</p>
				{% elseif error %}
					<p class='alert alert-danger'>SQL Fehler!<br>
						<code>
							{{ error }}
						</code>
					</p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<span class="form-label">Code für Authenticator-App</span><br>
			{% if resultInsert %}
				<img src="{{ qrCodePath }}" alt="QR Code zum Scannen">
			{% else %}
				<p class="alert alert-info">Der QR-Code wird nach der Registrierung angezeigt.</p>
			{% endif %}
		</div>
	</form>

{% endblock %}